doctype html
html
  head
      title Learning Management System
      meta(charset='utf-8')
      script(src='slides.js')
      link(href='https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,700' rel='stylesheet' type='text/css')
      link(href='styles.css'  rel='stylesheet' type='text/css')
    body
      section.slides.layout-regular.template-default
        article.first.section
          h1(style="font-size:100px;") Learning Management System
          p(style="font-size:25px;") Bringing academia online!
          //- br
          //- a(href='http://AhmadAwais.com' target="_blank") AhmadAwais.com
          //- a(href='http://twitter.com/mrahmadawais' target="_blank") @mrahmadawais

        article.slide_content
            p(style="font-size:35px") <span style="text-transform:uppercase">by</span> <br> M. Ashar Irfan <br> Amr Alshami <br> Nisa Anwaar <br> Ayesha Haider

        article.me.slide_content
          h2(style="font-size:100px;") What is an LMS?
          <br>
          //- h3(style="font-size:50px;") Learning Management System
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") <img src="img/l.jpg" height="40"  width="40"> earing - because you use it to deliver education/training
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") <img src="img/m.jpg" height="40"  width="40"> anagement - because it helps you organize the process
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") <img src="img/s.jpg" height="40"  width="40"> ystem - because LMS is a computer system

        article.slide_content
          h2(style="font-size:100px;") Who uses LMS?
          <br>
          ul.build.flex
            li
              img(src="img/use1.jpg")
              p Business of all size
            li
              img(src="img/use2.jpg")
              p Various Organizations
            li
              img(src="img/use3.jpg")
              p Government Agencies

        article.slide_content
          h2(style="font-size:100px;") Who uses LMS?
          <br>
          ul.build.flex
            li
              img(src="img/use4.jpg")
              p Educational Institutes
            li
              img(src="img/use5.jpg")
              p Online and eLearning

        article.section
          h1(style="font-size:120px;") Survey
          <br>
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:80px;") Top industries that use LMS
          <br>
          //- h2(style="font-size:60px;") Results
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?
          img(src="img/survey1.jpg")

        article.slide_content
          h2(style="font-size:80px;") Number of academic vs. corporate LMS users
          <br>
          //- h2(style="font-size:60px;") Results
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?
          img(src="img/survey2.jpg")

        article.slide_content
          h2(style="font-size:80px;") How long have you been using your current LMS?
          <br>
          //- h2(style="font-size:60px;") Results
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?
          img(src="img/survey3.jpg")

        article.slide_content
          h2(style="font-size:80px;") How satisfied are you with your LMS?
          <br>
          //- h2(style="font-size:60px;") Results
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?
          img(src="img/survey4.jpg")

        article.slide_content
          h2(style="font-size:80px;") Why are you unsatisfied with your current LMS?
          <br>
          //- h2(style="font-size:60px;") Results
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?
          img(src="img/survey5.jpg")

        article.slide_content
          h2(style="font-size:100px;") Motivation
          <br>
          //- h2(style="font-size:60px;") Motivation
          //- h3(style="font-size:50px;") Learning Management System
          p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → It's a $2.5 billion industry on the corporate side alone, and The combined corporate and academic LMS market is predicted to grow to at least $7.8 billion by 2018.
          p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → 87% of respondents use a web-based LMS.

        article.slide_content
          h2(style="font-size:100px;") Motivation
          <br>
          //- h2(style="font-size:60px;") Motivation
          //- h3(style="font-size:50px;") Learning Management System
          p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → 27% of people are dissatisfied or very dissatisfied with their current LMS.
          p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → Live/video conferencing tops the list of most desired features lacking in current LMSs.
          p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → E-learning holds a very bright future in Pakistan.

        article.section
          h1(style="font-size:100px;") Problem & Proposed Solution
          <br>
          //- h2(style="font-size:60px;") Results
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Our Work
          //- <br>
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") SaaS Solution
          //- <br>
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Why WordPress?
          ul.build.flex
            li
              span Features
                br
              small Open Source
                br
              small Easy Content Management
                br
              small Easy User Management

        article.slide_content
          h2(style="font-size:100px;") Why WordPress?
          ul.build.flex
            li
              span Features
                br
              small Plugins
                br
              small Flexibility
                br
              small Frequent Security Updates

        article.slide_content
          h2(style="font-size:100px;") Why WordPress?
          ul.build.flex
            li
              span Features
                br
              small Cost
              br
              small Online Community

        article.section
          h2(style="font-size:100px;") Scope
          //- <br>
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.section
          h1(style="font-size:120px;") Features
          //- <br>
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Online Course Material
          <br>
          img(src="img/online-course.png")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Online Quizzes
          <br>
          img(src="img/quiz-md.png")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Assignments
          <br>
          img(src="img/submit-assignment.png")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Discussion Forum
          <br>
          img(src="img/discussion.png")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Easy Grading System
          <br>
          img(src="img/grading-paper.png")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Multiple LMS's - One Admin
          <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Buying & Selling Courses
          <br>
          img(src="img/4.jpg")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Statistics
          <br>
          img(src="img/charIcon-statistics.png")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.section
          h1(style="font-size:120px;") Implementation
          //- img(src='images/Twitter_logo_white.png', width='300' style="margin:100px auto")

          //- h2
          //-   a(href='http://twitter.com/mrahmadawais', target='_blank') @mrahmadawais

        article.slide_content
          h2(style="font-size:100px;") Workflow
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") SVN
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          p(style="font-size:50px;") GIT
          img(src="img/git.png" height="100px")
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Package Manager
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          p(style="font-size:50px;") Node.Js
          img(src="img/gulp.png" height="100px")
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Preprocessors
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          p(style="font-size:50px;") SASS
          img(src="img/sass.png" height="100px")
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Development
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          //- p(style="font-size:50px;") GIT
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") MVC Framework
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          ul.build.flex
            li Models
            li Views
            li Controllers
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Mapping MVC on WP
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          p(style="font-size:50px;") Models = WP Plugin API
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Mapping MVC on WP
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          p(style="font-size:50px;") Views = WP Theme API
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Mapping MVC on WP
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          p(style="font-size:50px;") Controllers = WP Rewrite API
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Progress
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          //- p(style="font-size:50px;") GIT
          //- p What is it?
          ul.build.flex
            li
                span Modules Completed
                br
                small Courses
                br 
                small Lectures
                br
                small Students Enroll
                br
                small Statistics
            li
                span To be completed
                br
                small Quiz
                br
                small Multi-Site Networking
                br
                small Discussion Forum
                br
                small Live stream and Record

        article.section
          h2(style="font-size:120px;") Thank you
          <br>
          //- img(src="img/1.jpg")
          h2(style="font-size:60px;") Any Questions?
          //- p(style="font-size:50px;") Controllers = WP Rewrite API
          //- p What is it?
