doctype html
html
  head
      title Learning Management System
      meta(charset='utf-8')
      script(src='slides.js')
      link(href='https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,700' rel='stylesheet' type='text/css')
      link(href='styles.css'  rel='stylesheet' type='text/css')
    body
      section.slides.layout-regular.template-default
        article.first.section
          h1(style="font-size:100px;") Learning Management System
          p(style="font-size:25px;") Bringing academia online!
          //- br
          //- a(href='http://AhmadAwais.com' target="_blank") AhmadAwais.com
          //- a(href='http://twitter.com/mrahmadawais' target="_blank") @mrahmadawais

        article.slide_content
            p(style="font-size:35px") <span style="text-transform:uppercase">by</span> <br> M. Ashar Irfan <br> Amr Alshami <br> Nisa Anwaar <br> Ayesha Haider

        article.me.slide_content
          h2(style="font-size:100px;") What is an LMS?
          <br>
          //- h3(style="font-size:50px;") Learning Management System
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") <img src="img/l.jpg" height="40"  width="40"> earing - because you use it to deliver education/training
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") <img src="img/m.jpg" height="40"  width="40"> anagement - because it helps you organize the process
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") <img src="img/s.jpg" height="40"  width="40"> ystem - because LMS is a computer system

        article.me.slide_content
          h2(style="font-size:100px;") What is an LMS?
          <br>
          //- h3(style="font-size:50px;") Learning Management System
          ul.flex
            li
              img(src="img/lms3.png" style="height:120px;")
            li
              img(src="img/lms1.png" style="height:150px;")
            li
              img(src="img/lms2.png" style="height:120px;")
          p LMS is a software that helps you create, manage and deliver eLearning courses.

        article.slide_content
          h2(style="font-size:100px;") Who uses LMS?
          <br>
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") → Business of all size
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") → Various Organizations
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") → Government Agencies
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") → Educational Institutes
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") → Online and eLearning              

        article.section
          h1(style="font-size:120px;") Statistics
          a(href="http://www.capterra.com/learning-management-system-software/user-research" target="_blank") Reference: http://www.capterra.com/learning-management-system-software/user-research
          <br>
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:80px;") Top industries that use LMS
          <br>
          //- h2(style="font-size:60px;") Results
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?
          img(src="img/survey1.png")

        article.slide_content
          h2(style="font-size:80px;") Number of academic vs. corporate LMS users
          <br>
          //- h2(style="font-size:60px;") Results
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?
          img(src="img/survey2.png")

        article.slide_content
          h2(style="font-size:80px;") How long have you been using your current LMS?
          <br>
          //- h2(style="font-size:60px;") Results
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?
          img(src="img/survey3.png")

        article.slide_content
          h2(style="font-size:80px;") How satisfied are you with your LMS?
          <br>
          //- h2(style="font-size:60px;") Results
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?
          img(src="img/survey4.png")

        article.slide_content
          h2(style="font-size:80px;") Why are you unsatisfied with your current LMS?
          <br>
          //- h2(style="font-size:60px;") Results
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?
          img(src="img/survey5.png")

        article.slide_content
          h2(style="font-size:100px;") Motivation
          <br>
          //- h2(style="font-size:60px;") Motivation
          //- h3(style="font-size:50px;") Learning Management System
          p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → High growing industry, expected to reach $7.8 billion by 2018.
          p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → 87% of respondents use a web-based LMS.
          p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → 27% dissatisfaction rate.
          p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → Most desired feature is Live/video conferencing.
          p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → E-learning holds a very bright future in Pakistan.

        article.section
          h1(style="font-size:100px;") Problem Statement
          <br>
          blockquote eLearning trend is growing in Pakistan & there are no major interactive LMS services in Pakistan.
          //- h2(style="font-size:60px;") Results
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.section
          h1(style="font-size:100px;") Proposed Solution
          a(href="#" target="_blank") Website: lms.asharirfan.com

        article.slide_content
          h2(style="font-size:100px;") SaaS Solution
          //- <br>
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p Software as a Service

        article.slide_content
          h2(style="font-size:100px;") Why WordPress?
          br
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") → Open Source
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") → Easy Content Management
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") → Plugins
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") → Frequent Security Updates
          p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") → Cost

        article.section
          h2(style="font-size:100px;") Scope
          ul.flex
            li
              p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") → Wide..
              p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") → But limited yet!
              p(style="font-size:30px;text-align:left;padding: 0 0 0 10rem") → E-learn Punjab
          //- <br>
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.section
          h1(style="font-size:120px;") Features
          //- <br>
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Online Course Material
          <br>
          ul.flex
            li(style="padding:2rem 0 0 0;")
              p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → Courses
              p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → Lectures
            li
              img(src="img/online-course.png" height="250px")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Online Quizzes
          <br>
          ul.flex
            li(style="padding:2rem 0 0 0;")
              p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → Timed quizzes
              p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → MCQs
              p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → Deadlines
              p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → Could be used for final evaluation
            li
              img(src="img/quiz-md.png" height="250px")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Assignments
          <br>
          img(src="img/submit-assignment.png")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Discussion Forum
          <br>
          ul.flex
            li(style="padding:2rem 0 0 0;")
              p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → Building the communication gap
              p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → Another forum for class interactions
            li
              img(src="img/discussion.png" height="250px")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Easy Grading System
          <br>
          ul.flex
            li(style="padding:2rem 0 0 0;")
              p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → Automatic Quiz Grading
            li
              img(src="img/grading-paper.png" height="250px")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Multiple LMS's - One Admin
          <br>
          ul.flex
            li
              p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → Better management for universities with multiple departments
              p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → Offers modular approach
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Buying & Selling Courses
          <br>
          ul.flex
            li(style="padding:2rem 0 0 0;")
              p(style="font-size:30px;text-align:left;padding: 0 0 0 3rem") → Giving an entrepreneurial opportunity to teachers
            li
              img(src="img/4.jpg" height="250px")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Statistics
          <br>
          img(src="img/charIcon-statistics.png")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Video Streaming and Recording Lectures
          <br>
          img(src="img/vedio.png" height="300px")

        article.section
          h1(style="font-size:120px;") Implementation
          //- img(src='images/Twitter_logo_white.png', width='300' style="margin:100px auto")

          //- h2
          //-   a(href='http://twitter.com/mrahmadawais', target='_blank') @mrahmadawais

        article.slide_content
          h2(style="font-size:100px;") Workflow
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          //- h3(style="font-size:50px;") Learning Management System
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Tools
          ul.build.flex
            li 
              p SVN
              p GIT
              img(src="img/git.png" height="50px")
            li 
              p Package Manager
              p Node.Js
              img(src="img/node.png" height="100px")
              p Gulp
              img(src="img/gulp.png" height="100px")
            li 
              p Preprocessor
              p SASS
              img(src="img/sass.png" height="100px")

        article.slide_content
          h2(style="font-size:100px;") Development
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          //- p(style="font-size:50px;") GIT
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") MVC Framework
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          ul.build.flex
            li Models
            li Views
            li Controllers
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Mapping MVC on WP
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          p(style="font-size:50px;") Models = WP Plugin API
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Mapping MVC on WP
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          p(style="font-size:50px;") Views = WP Theme API
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Mapping MVC on WP
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          p(style="font-size:50px;") Controllers = WP Rewrite API
          //- p What is it?

        article.slide_content
          h2(style="font-size:100px;") Progress
          //- <br>
          //- img(src="img/1.jpg")
          //- h2(style="font-size:60px;") Our Work
          //- p(style="font-size:50px;") GIT
          //- p What is it?
          ul.build.flex
            li
                span Modules Completed
                br
                small Courses
                br 
                small Lectures
                br
                small Students Enroll
                br
                small Statistics
            li
                span To be completed
                br
                small Quiz
                br
                small Multi-Site Networking
                br
                small Discussion Forum
                br
                small Live stream and Record

        article.section
          h2(style="font-size:120px;") Thank you
          <br>
          //- img(src="img/1.jpg")
          h2(style="font-size:60px;") Any Questions?
          //- p(style="font-size:50px;") Controllers = WP Rewrite API
          //- p What is it?
